<div class="replace-animation">
  <div class="player" [class.voted]="!serv.isWF">
    <div [hidden]="!serv.isWF" class="wrapper">
      <div class="layout ToolBar">
        <img src="../assets/images/icon.png"
             class="imgLogo" (click)="clickedLogo()">
        <span class="title" id="netanyaTitle">עיריית נתניה לשירותך</span>
        <span class="time">{{time}}</span>

        <span class="Line"></span>

        <span class="date">{{date}}</span>

        <span class="Line"></span>
        <span class="weather" *ngIf="weather.temp">{{weather.temp}}º</span>
        <span class="Line"></span>
        <img class="imgWeather" *ngIf="weather.icon" src="{{weather.icon}}" />
      </div>

      <iframe id="wfIframe" class="access" #wfIframe src="https://192.116.49.6:256/complex/3"></iframe>


      <div class="layout" id="footer">
        <div class="menu-bottom" (click)="menuAction('return')">
          <img src="../../../assets/images/back-btn.png" />
          <span>חזרה</span>
        </div>
        <span class="horizontal-hr"></span>
        <div class="menu-bottom" (click)="menuAction('redirect-home')">
          <img src="../../../assets/images/home-btn.png" id="home-btn"/>
          <span>בית</span>
        </div>
        <span class="horizontal-hr half-hr"></span>
        <div class="menu-bottom" (click)="menuAction('language')">
          <img src="../../../assets/images/language-btn.png" />
          <span>שפה</span>
        </div>
        <span class="horizontal-hr"></span>
        <div class="menu-bottom" (click)="menuAction('accessibility')">
          <img src="../../../assets/images/access-btn.png" />
          <span>נגישות</span>
        </div>
      </div>
      <img class="icon-btn-replacment" src="../assets/images/icon-circle.png" (click)="serv.isWF=false" />
    </div>
    <div class="back">

      <iframe id="iframe" #iframe [hidden]="serv.isWF" [src]="'https://kiosk_netanya.urban-digital.co.il?signId='+serv.signId|urlSafe"></iframe>
      <img class="icon-btn-replacment" src="../assets/images/icon-circle.png" (click)="serv.isWF=true" />

    </div>
  </div>
</div>
