.replace-animation {
  -webkit-perspective: 1000px;
  perspective: 100vmax;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.voted {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.back {
  background: #222;
  color: #FFF;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);

}

.player {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  z-index: 20;
}

.layout {
  width: 100vw;
  background-color: #030404;
  z-index:4;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  display: grid;
  grid-template-rows: 4.636vh 90.728vh  4.636vh;
}

iframe {
  all: unset;
  height: 100vh;
  width: 100vw;
  z-index:0;
}

.wrapper iframe {
  all: unset;
  height: 100%;
  width: 100vw;
  z-index: 0;
  position:relative;
}

#footer {
  display: grid;
  grid-template-columns: 24vw 1vw 24vw 1vw 24vw 1vw 25vw;
  color: #e2b014;
  font-family: Open Sans Hebrew;
  font-size: 32px;
}

.horizontal-hr {
  float: left;
  border-left: 2px solid;
  height: 54px;
  margin-top: 17.2px;
}

.half-hr {
  height: 27px;
  margin-top: 45px;
}

.menu-bottom {
  margin: auto;
}

  .menu-bottom img {
    margin-left: 20px;
  }

.icon-btn-replacment {
  z-index: 10000000000000000000000 !important;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 2.7vh;
  width: 10.186vmin;
}


.ToolBar {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100vw;
  background-color: #000000;
  color: white;
  font-size: 4vmin;
  align-items: center;
  font-family: Open Sans Hebrew;
  justify-content: space-around;
}

.imgLogo {
  margin-left: 1.07143vw;
  width: 7.555vw;
  height: 3.646vh;
  -o-object-fit: contain;
  object-fit: contain;
}


.time {
  margin: 0px 20px 0px 149px;
}

.title {
  width: 17vw;
  height: 3.646vh;
  font-family: GveretLevinAlefAlefAlef;
  font-size: 2.5vmin;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fcb040;
  margin-left: 1.2037vw;
}

.date {
  margin: 0px 20px 0px 20px;
  width: 291px;
  text-align: center;
  color: #ffffff;
}

.weather,
.imgWeather {
  margin: 0px 20px 0px 37px;
  width: 55px;
}

.Line {
  /*width: 3px;*/
  height: 54px;
  border: solid 2px #535353;
}

.img-menuBottom {
  margin-left: 25px;
  margin-right: 58px;
  margin-top: -5px;
}

.BackgroundColorBlack {
  background-color: #303030;
}

#home-btn {
  margin-top: -0.3125vh;
  height: 2.344vh;
}

