/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('assets/fonts/opensanshebrew-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GveretLevinAlefAlefAlef';
  src: url('assets/fonts/GveretLevinAlefAlefAlef-Regular.ttf');
}

::-webkit-scrollbar {
  display: none !important;
}

body {
  direction: rtl;
  margin: 0px;
  font-family:Open Sans Hebrew;
  width:100vw;
  height:100vh;
  background-color:black;
  cursor:none;
  position:fixed;
}
